.header {
  i {
    font-size: 14px;
  }

  .ant-badge-count {
    font-size: 10px;
  }

  button {
    float: right;
    margin: 18px 0 0 16px;
  }

  .action-btns {
    float: right;
    padding-right: 15px;
  }
}
